* {
  box-sizing: border-box;
}
body {
  font-family: "Thasadith", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.wrapper {
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  background: #fcfcfc;
}
