<header class="header__header">
  <div class="header__div">
    <img class="header__img effect8" src="/assets/headimgmin.jpg" alt="" />
  </div>
  <div class="border__helper"></div>
  <div class="header__div header__img__helper padding__helper">
    <p class="header__p header__txt__helper">
      <span class="header__span header__txt__helper">Moin!<br /></span>
      <span class="header__name">Alexander Schöpe, M.Sc.</span><br />
      <span class="header__span header__txt__helper"
        >E-Commerce Professional <br />& Web-Developing Enthusiast</span
      >
    </p>
  </div>
</header>
