<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Impressum</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Thasadith"
      rel="stylesheet"
    />
  </head>

  <body class="grid imprint">
    <div class="wrapper">
      <%- include('components/header') %>
      <h1>Mein Impressum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
        veritatis aperiam sapiente assumenda consectetur reprehenderit esse
        velit maiores dicta, nihil repudiandae architecto pariatur similique non
        aliquam autem id ipsa? Laboriosam.
      </p>
      <%- include('components/footer') %>
    </div>
  </body>
</html>
