.content__container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 1000px;
}

.section__general {
  xxbox-shadow: 1px 1px 1px rgba(20, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  border: 1px solid #eaeaea;
  width: 32%;
  margin: 10px;
  padding: 15px;
}

@media screen and (max-width: 950px) {
  .content__container {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 1500px;
  }
  .section__general {
    box-shadow: 2px 4px 8px rgba(20, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    border: 1px solid #eaeaea;
    width: 49%;
    margin: 10px;
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  .header__div {
    grid-column: span 5;
    padding: 10px;
    margin: auto;
    max-width: 100%;
  }
  .header__img__helper {
    position: relative;
    margin: -180px auto 15px auto;
    color: white;
    background: grey;
    opacity: 0.9;
  }
  .header__txt__helper {
    color: white;
    font-weight: bold;
  }
  .border__helper {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .content__container {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .section__general {
    box-shadow: 2px 4px 8px rgba(20, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    border: 1px solid #eaeaea;
    max-width: 100%;

    padding: 15px;
  }
}
